*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'League Spartan', sans-serif;
}
body{
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(5,5,28,1) 35%, rgba(33,40,42,1) 100%);
  color: white;
  padding: 2rem;
  background-repeat: no-repeat;
}